<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">..</directory>
            <exclude>
                <directory suffix=".php">../vendor</directory>
                <directory suffix=".php">../examples</directory>
                <file>../IQuery.php</file>
                <file>../ganon.php</file>
                <file>../index.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
